{% extends "index.html" %}

{% block title %}
    Последние активные сделки
{% endblock %}

{% block header %}
    <div class="header">
        <h1>Последние активные сделки</h1>
        <h2>Всего найдено {{ recent_deals|length }} сделок</h2>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock %}

{% block content %}
    <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Этап</th>
        <th>Бюджет</th>
        <th>Дата создания</th>
        <th>Способ доставки</th>
        <th>Дата доставки</th>
        <th>Время доставки</th>
        <th>Инструкции по доставке</th>
      </tr>
    </thead>
    <tbody>
      {% for deal in recent_deals %}
      <tr>
        <td>{{ deal.ID }}</td>
        <td>{{ deal.TITLE }}</td>
        <td>{{ deal.STAGE_ID }}</td>
        <td>{{ deal.OPPORTUNITY }}</td>
        <td>{{ deal.DATE_CREATE }}</td>
        <td>{{ deal.UF_CRM_1752059330 }}</td>
        <td>{{ deal.UF_CRM_1752056545 }}</td>
        <td>{{ deal.UF_CRM_1752057390 }}</td>
        <td>{{ deal.UF_CRM_1752056648 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}