{% extends 'contacts.html' %}
{% load static %}
{% block contacts %}
    <h3>Импорт контактов</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" accept=".csv,.xlsx" required>
        <button type="submit">Загрузить</button>
    </form>
    <style>
        input[type="file"] {
        width: auto;
        padding: 10px 14px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        color: white;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        border: none;
        cursor: pointer;
    }

    </style>
{% endblock %}