body{
    background-image: url("../img/bamboo_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: white;
    flex-direction: column;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.3s ease;
}
nav a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

button{
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 8px 12px;
    margin: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}
button:hover{
    background: rgba(255, 255, 255, 0.25);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.glass_wrapper{
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.glass_wrapper:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 8px;
	padding: 1px;
	pointer-events: none;
    z-index: -1;
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.01),
		rgba(255, 255, 255, 0.01)
	);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}
.frosted {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0.3;
	pointer-events: none;
	border-radius: 8px;
	z-index: -1;
	background: linear-gradient(
			135deg,
			rgba(255, 255, 255, 0.75),
			rgba(0, 0, 0, 0.3)
		),
    /*url("static/img/Rectangle 3.svg");*/
		url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.1' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.product-image{
    width: 250px;
}
.p_cont{
    max-width: 700px;
}
.product_container{
    justify-content: center;
    max-width: 600px;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}

/*---------NAV BAR ---------------*/
nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}


/*---------------------TABLE -------------*/
 table {
    border-collapse: collapse;
    width: 100%;
 }
th, td, tr {
    padding: 8px;
    border: 1px solid #ccc;
    font-weight: 200;
}
td{
    text-align: center;
}